body{
  background-color:#303030;
}



.header {
  align-items: center;
  /* background-color: #343a40; */
  background-color: rgb(36, 33, 33);
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.app-title {
  color: white;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}

.li{
  padding-left: 5px;
  margin-bottom: 15px;
  }

.form{
  margin: 10px;
  padding: 10px;
  display: flexbox;
}

.lists{
padding: 10px;
}

.lists a{
color: black;
  }


#dot {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#yellow{
  background-color: yellow;
}

#pink{
  background-color:deeppink;
}
#orangered{
  background-color: orangered;
}
#blue{
  background-color: blue;
}

.name{
  font-size: 23px;
}